@import "../Vars.scss";
@import "../Media.scss";

.Header {
    padding: 10px;
    background-color: $secundary-color;
    color: $background-color;
    border-bottom: 1px solid black;
}

.Header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
.Header a {
    color: $background-color;
    text-decoration: none;
    padding: 0 10px;
}
.Header a:hover {
    color: #8841DA;
    text-decoration: underline;
}
.Header ol {
    display: flex;
    height: inherit;
  }
.Header ol li {
    height: inherit;
  }
.Header-bar {
    display: none;
}
.Header-logo {
    display: flex;
}

.Header_toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
}
.Header-button:focus {
    outline: none;
}
.Header_toggle-button_line {
    width: 30px;
    height: 2px;
    background: white;
}

@media only screen and (max-width: 660px) {
	

	
}