@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: #ebebeb;
$secundary-color: #f4d3cc;
$other-color: #494949;
$purple-color: #8841DA;
$background-color: #3c5d79;
